<div class="container-nav d-flex flex-row">
    <ul class="d-flex flex-row botones-nav">
        @for (item of itemsMenu.itemsMenu; track item.name) {
            <li class="nav-item">                
                    <a class="nav-link" [routerLink]="item.link">{{item.name}}</a>                
            </li>
        }
    </ul>
    <ul class="d-flex flex-row redes-sociales">
        @for (item of itemsMenu.itemsRedesSociales; track item.name) {
            <li class="nav-item">
                <a class="nav-link" href="{{item.link}}">               
                    <fa-icon [icon]="item.icon"></fa-icon> {{item.name}}
                </a>
            </li>
        }
    </ul>    
</div>
